@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Orbitron:wght@700&display=swap');

.opBtn{
 height :70px;
 width :70px;
 margin-left:5px;
 margin-top:5px;
 border-radius:8px;
 font-size:25px; 
 font-family: 'Castoro Titling', cursive;
 font-family: 'Orbitron', sans-serif; 
 box-shadow: 2px 2px black; 
 background-color: beige;
}
#opBtn4{
    border-radius: 15px;
    background-color: yellow;
}
